.header {
  display: flex;
  align-items: center;
  background: #001900;
  border-bottom: 2px solid #00ff66;
  padding: 16px;
}

.title {
  font-size: 22px;
  text-shadow: 0 0 8px #00ff66;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a {
  margin-left: 22px;
  color: #00ff66;
}
